.greadfeatures {
   /*display: block;
    margin: 0px 20px 0px 20px;
    text-align: center;*/
    cursor: pointer;
    /*font-family: "Proxima Nova Regular", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    color: #8C8E9D;*/
}

#nav-pills {
    color: $light-color;
    font-family: 'Proxima Nova RG', sans-serif;
    font-size: 18px;
    padding-bottom: 20px;
    line-height: 30px;
}

a .fa {
    margin-right: 10px;
}

a .fa:hover {
    color: $primary;
}

ul {
    justify-content: center;
    padding-bottom: 40px;
}

.text-header {
    font-family: 'Proxima Nova B', sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: #46AD26;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 40px;
}

.col-sm-6 {
    text-align: left;
}

.greadfeatures span {
    color: $light-color;
}

.greadfeatures span:hover {
    color: $primary;
}

